[Unit]
Description=PyJarvis
After=getty.target
Conflicts=getty@tty1.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/ubuntu/pijar/jarvis.sh
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
